/*  Custom Font */
@font-face {
    font-family: 'CommandLine';
    src: url(./Assets/cmd.woff);
}

/* Default Styling */
* {
    box-sizing: border-box;
    font-family: 'CommandLine';
    margin: 0;
}

html, body {
    background-color: #000;
    color: #149414;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px;

    box-shadow: 0px 1px 10px #9ccc9c;
}

.navbar a {
    text-decoration: none;
    color: #149414;
}

/* Main */
.main {
    display: flex;
    justify-content: center;
}

.choose {
    margin-top: 50px;
}

a {
    text-decoration: none;
}

.choose-list a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;   
    cursor: pointer;
}

.choose-list button {
    margin: 20px 0 20px 0;
    text-decoration: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.btn-grad {background-image: linear-gradient(to right, #000 0%, #149414  51%, #000  100%)}
    
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #9ccc9c; */
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}

