<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playfair Cipher</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../style.css">

</head>
<body>
     <!-- Navbar -->
     <div class="navbar">
        <a href="../index.html"><h2>Multiple Character Ciphers</h2></a>
        <h2>About Project</h2>
    </div>
    
     <!-- Main Content -->
     <div class="content">
        <div class="header">
            <h1>Playfair Cipher</h1>
        </div>
        <div class="form-container">
            <form type="post">
                <div class="container">
                    <label for="plainText"><b>Enter The Message :</b></label>
                    <input type="text" placeholder="Enter Plain Text" name="plainText" required>
                    <label for="key"><b>Enter Key (Keyword) :</b></label>
                    <input type="text" placeholder="Enter Key" name="key" required>
                </div>
                <button class="btn-grad btn-encrypt" type="submit">Emcrypt !</button>
            </form>
        </div>
    
    </div>
</body>
</html>