<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rail Fence Cipher</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../style.css">

</head>
<body>
     <!-- Navbar -->
     <div class="navbar">
        <a href="../index.html"><h2>Multiple Character Ciphers</h2></a>
        <a href="https://en.wikipedia.org/wiki/Rail_fence_cipher" target="_blank"><h2>About Cipher</h2></a>
    </div>

     <!-- Main Content -->
     <div class="content">
        <div class="header">
            <h1>Rail Fence Cipher</h1>
        </div>
        <div class="form-container">
            <form type="post">
                <div class="container">
                    <label for="plainText"><b>Enter The Message :</b></label>
                    <input type="text" placeholder="Enter Plain Text" name="plainText" required>
                    <label for="key"><b>Enter Key (Depth) :</b></label>
                    <input type="number" placeholder="Enter Key" name="key" required>
                </div>
                <button class="btn-grad btn-encrypt" type="submit">Emcrypt !</button>
            </form>
        </div>
    
    </div>
    
</body>
</html>